.form-container {
   
    position: relative;

}

.form-container.registration{
    min-height: 1000px;
}

.form-container.login{
    min-height: 700px;
}

.background {
    width: 530px;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -16%;
    top: 4%;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -16%;
    bottom: 4%;
}
.form-container form {
    width: 500px;
    background-color: #232536d3;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.form-container form * {
    font-family: "Sen", sans-serif;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form-container form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.form-container input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder {
    color: #e5e5e5;
}

.form-button {
    margin-top: 50px;
    width: 100%;

    cursor: pointer;
    color: black !important;
    background: #dfb647;
    border: none;
    padding: 7px 25px;

    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    transition: all 0.3s ease-out;
}

.form-button:hover {
    background-color: #EDC14A;
    transform: scale(1.05);
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.errorlist {
    list-style: none !important;
    border-left: 3px solid red !important;
    border-radius: 5px;
    margin-left: 25px !important;
}

.errorlist li {
    padding-left: 5px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: red !important;
}

.social {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.social a {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 40px;
    background: rgba(255, 255, 255, 0.27);
    text-align: center;
    transition: all 0.3s ease-in;
}

.social a:hover {
    background: rgba(255, 255, 255, 0.47);
}