{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/base.css"> {% block head %}
    <title>BlogApp:Home</title>
    {% endblock %}

</head>

<body>

    <div class="nav">
        <h1>BlogApp</h1>
        <div class="nav-right">
            <div class="nav-right-links">
                <a href="{%url 'home'%}" class="nav-right-link">Home</a>
                <a href="{% url 'all_posts' %}" class="nav-right-link">Blog</a>
               



                <a href="{% url 'create_posts' %}" class="nav-right-link main-btn">Create</a> {% if request.user.is_authenticated %}

                <a href="{%url 'profile' username=request.user.username%}" class="nav-right-link">{{request.user.username}}</a>
                <a href="{% url 'logout' %}" class="nav-right-link main-btn " style="background-color: gray;">Logout</a> {% else %}
                <a href="{% url 'login' %}" class="nav-right-link main-btn">Login</a> {% endif %}


            </div>
        </div>
    </div>

    {% block content %} {% endblock %}


    <footer>
        <div class="nav">
            <h2>BlogApp</h2>
            <div class="nav-right">
                <div class="nav-right-links">
                    <a href="{% url 'home' %}" class="nav-right-link">Home</a>
                    <a href="{% url 'all_posts' %}" class="nav-right-link">Blog</a>
                    <a href class="nav-right-link">About Us</a>

                </div>
            </div>
        </div>

        <div class="subscribe">
            <h2>Subscribe to our news letter to get latest updates and news
            </h2>
            <form class="subsribe-form">
                <input type="email" name id>
                <button type="submit" class="main-btn">Subscribe</button>

            </form>

        </div>
        <h7>Far Far away street 2 21 4 Far Far away town IM@gmail.com 020 7993 2905</h7>
    </footer>
</body>

</html>