{% extends 'base.html' %}

{% block head %}
<title>BlogApp: Home</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/post.css">
{% endblock %}



{% block content %}
{%if top_post %}
<header style='background: 
  linear-gradient(
                to right,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.3)
            ),

url(" {% if top_post.image %}{{top_post.image.url}}{% else %}/static/images/image.png{% endif %} " ); 
background-size: cover;
background-repeat: no-repeat;
background-position: center,;
'>
    <div class="header-content">
        <p class="header-category" href="{% url 'all_posts' %}?category_id={{category.id}}">posted on <strong style="width: 8px;">{{top_post.category.title}}</strong></p>
        <h1>{{top_post.title}}</h1>
        <p class="header-author"> By
        <h3> {{top_post.author}} {{top_post.created_at}}</h3>
        </p>
        <p style="padding: 25px;" class="header-description">
           {{top_post.short_description}}
        </p>
        <a class="main-btn" href="{% url 'post_details' post_id=top_post.id %}">Read More ></a>
    </div>
</header>
{%endif%}
<div class="container">
    <div class="posts-block">
        <div class="posts-view">
            <h3>Featured Post</h3>
            {% for post in posts %}
            <div class="post" id="post-{{post.id}}">
                <img src="
                    {% if post.image %}
                        {{post.image.url}}
                    {% else %}
                        /static/images/image.png
                    {% endif %}
                    " alt>
                <p class="post-author">
                    By <strong> {{post.author}}</strong> {{post.created_at}}
                </p>
                <h4 class="post-title">
                    {{post.title}} </h4>
                <p class="post-description"> {{post.content}} </p>
                <a href="{% url 'post_details' post_id=post.id %}" class="main-btn">Read More ></a>
            </div>
            {%endfor%}
        </div>
        <div class="posts-list">
            <div class="posts-list-header">
                <h3>All Posts</h3>
                <a href="{% url 'all_posts' %}">View All </a>
            </div>
            <div class="posts-list-items">

                {% for post in posts %}
                <div class="post-list-item" data-post-id="{{post.id}}">

                    <p class="post-author">
                        By <strong> {{post.author}}</strong> {{post.created_at}}
                    </p>
                    <h5 class="post-title"> {{post.title}} </h5>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- continue hear -->
</div>

<script>

    function hideAllPosts(posts) {
        posts.forEach(post => {
            post.style.display = "none";
        });
    }


    document.addEventListener("DOMContentLoaded", () => {
        let postItems = document.querySelectorAll(".post-list-item");
        console.log("Post items: ", postItems);
        let posts = document.querySelectorAll(".post")
        postItems.forEach((postItem) => {
            console.log("Item: ", postItem);

            postItem.addEventListener("click", () => {
                console.log("Clicked to: ", postItem);
                let postId = postItem.dataset.postId;
                console.log("Clicked post id: ", postId);

                let post = document.querySelector(`#post-${postId}`);
                console.log("Found post element: ", post);
                hideAllPosts(posts)
                post.style.display = "block"
            });
        });
    });
</script>

{% endblock %}