{% extends 'base.html' %}

{% block head %}
<!-- Design by foolishdeveloper.com -->
<title>Glassmorphism login Form Tutorial in html css</title>
<link rel="stylesheet" href="/static/css/auth.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

{% endblock %}




{% block content %}
<div class="container">
  <div class="form-container registration">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    
    <form method="post">
      <h3>Registration Here</h3>
      {% csrf_token %}

      <!-- <label for="username">Username</label>
      <input type="text" placeholder="Email or Phone" id="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password">

      <label for="email">Email</label>
      <input type="email" placeholder="Email" id="email"> -->
      {{form.as_div}}
      <button class="form-button">Register</button>
      <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
      </div>
    </form>

  </div>
</div>



{% endblock %}